/* Only the styles used in SignIn and Register components */

.signin_page {
    text-align: center;
    justify-content: center;
    display: flex;
    padding: 100px 0 280px 0;
    background: linear-gradient(180deg, #2dca88 0%, #ffffff 100%);
    background-size: cover;
    align-items: center;
  }
  
  .box {
    align-self: center;
    box-sizing: border-box;
    width: 420px;
    height: 100%;
    background: #fff9f9;
    border: 6px solid #2fcb89;
    border-radius: 20px;
    align-items: center;
  }
  
  .form_heading {
    margin: 15px auto;
    align-self: center;
    align-items: center;
    width: 354px;
    height: 97px;
    font-family: "Acme";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 41px;
    display: flex;
    color: #000000;
  }
  
  .inptext {
    margin: 5px;
    padding-left: 20px;
    border-radius: 15px;
    align-self: center;
    width: 80%;
    height: 36px;
    background: #e8e8e8;
  }
  
  .submitbutton {
    margin: 15px auto;
    width: 150px;
    height: 51px;
    background: #7af39c;
    border-radius: 15px;
    text-align: center;
    font-family: "Candal";
    font-style: normal;
    font-weight: 1000;
    font-size: 24px;
    line-height: 26px;
    color: #ffffff;
  }
  
  .siwg {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    color: #000000;
  }
  
  .or {
    margin-top: 0;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    color: #000000;
  }
  
  .box1 {
    align-self: center;
    box-sizing: border-box;
    width: 750px;
    height: 100%;
    background: #fff9f9;
    border: 6px solid #2fcb89;
    border-radius: 20px;
    align-items: center;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  #abt {
    margin: auto;
    background: #e8e8e8;
    padding: 2px 10px;
    width: 80%;
    border-radius: 15px;
    outline: none;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 38px;
    max-height: fit-content;
  }
  